<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Sistema de Gerenciamento de Bandas</title>
</head>
<body>
    <div>
        <div>
            <h1>Sistema de Gerenciamento de Bandas</h1>
        </div>
        <div>
            <h3>Nova Banda</h3>
            <form action="bandas-gravar.php" method="post" >
                <div>
                    <label for="descBanda">Turma:</label>
                    <input type="text" name="descBanda" id="descBanda">
                </div>

                <div>
                    <label for="estilo">Estilo:</label>
                    <input type="text" name="estilo" id="estilo">
                </div>
                <div>
                    <input type="submit" value="Gravar">
                </div>

            </form>
        </div>
    </div>
    
</body>
</html>

