<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gerenciamento de Bandas</title>
</head>
<body>
    <div>
        <div>
            <h1>Sistema de Gerenciamento de Bandas</h1>
        </div>
        <div>
            <h3>Novo Estilo</h3>
            <form action="estilos-gravar.php" method="post" >
                <div>
                    <label for="nomeEstilo">Estilo:</label>
                    <input type="text" name="nomeEstilo" id="nomeEstilo">
                </div>

                <div>
                    <input type="submit" value="Gravar">
                </div>

            </form>
        </div>
    </div>
    
    
</body>
</html>